<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <span class="sidenav-header">Configuration</span>
    <ul>
      <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Application</a>
      </li>
      <li disabled="disabled">
        <a class="nav-link" href="#">Capture</a>
      </li>
      <li>
        <a routerLink="/communications-config" routerLinkActive="active">Communications</a>
      </li>
    </ul>
    <span class="sidenav-header">Actions</span>
    <ul>
      <li disabled="disabled">
        <a class="nav-link" href="#">Loggers</a>
      </li>
      <li disabled="disabled">
        <a class="nav-link" href="#">Clear Cache</a>
      </li>
      <li disabled="disabled">
        <a class="nav-link" href="#">View File</a>
      </li>
      <li disabled="disabled">
        <a class="nav-link" href="#">Batch Processing</a>
      </li>
      <li disabled="disabled">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <span class="sidenav-header">Metrics</span>
    <ul>
      <li disabled="disabled">
        <a class="nav-link" href="#">Metrics</a>
      </li>
    </ul>
    <span class="sidenav-header">Audit</span>
    <ul>
      <li disabled="disabled">
        <a class="nav-link" href="#">Audit Report</a>
      </li>
    </ul>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <ng-content></ng-content>
  </div>

</mat-sidenav-container>
