<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="sidenav">
    <h3>Configuration</h3>
    <ul>
      <li>
        <button md-button>Application</button>
      </li>
      <li>
        <button md-button>Client</button>
      </li>
      <li>
        <button md-button>Capture</button>
      </li>
      <li>
        <button md-button>Communications</button>
      </li>
    </ul>
    <h3>Actions</h3>
    <ul>
      <li>
        <button md-button>Loggers</button>
      </li>
      <li>
        <button md-button>Clear Cache</button>
      </li>
      <li>
        <button md-button>View File</button>
      </li>
      <li>
        <button md-button>Batch Processing</button>
      </li>
      <li>
        <button md-button>About</button>
      </li>
    </ul>
    <h3>Metrics</h3>
    <ul>
      <li> <button md-button>Metrics</button></li>
    </ul>
    <h3>Audit</h3>
    <ul>
      <li>
        <button md-button>Audit Report</button>
      </li>
    </ul>
  </md-sidenav>

  <div class="example-sidenav-content">
    <app-navbar></app-navbar>
    <div class="config-container">
      <app-configuration-list></app-configuration-list>
    </div>
  </div>
</md-sidenav-container>
