<app-collapsible class="coms-form-card">
  <form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="SMTP Host Name" name="smtpHostName" [ngModel]="deliveryConfig?.value" (ngModelChange)="deliveryConfig ? deliveryConfig.value = $event : null"
      />
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="SMTP Port" name="smtpPort" />
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="User" name="user" />
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Password" name="password" />
    </md-form-field>
    <button md-raised-button class="action-button">
      <span>Cancel</span>
    </button>
    <button md-raised-button color="primary">
        <span>Save</span>
    </button>
  </form>
</app-collapsible>
