<mat-accordion>
  <div class="comms-content">
    <app-delivery-channels></app-delivery-channels>
    <app-security-settings></app-security-settings>
    <app-client-settings></app-client-settings>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Content Management</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div>hello</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>AFT Settings</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div>hello</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>FTP Settings</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div>hello</div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
