.example-spacer {
  flex: 1 1 auto;
}

.header-nav {
  margin-right: 30px;
  font-weight: normal;
  font-size: 14px;
}

.menu-button {
  margin: 16px;
  padding: 0;
}

.navbar {
  margin-bottom: 15px;
}
