<div class="modal-container">
  <mat-form-field>
    <input matInput placeholder="Key" [ngModel]="data.key">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [ngModel]="data.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Value" [ngModel]="data.value"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [ngModel]="data.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [ngModel]="data.type">
      <mat-option value="TEXT">TEXT</mat-option>
      <mat-option value="XML">XML</mat-option>
      <mat-option value="ENC_PASSWORD">ENC_PASSWORD</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
