<div class="modal-container">
  <mat-form-field>
    <input matInput placeholder="Key" [(ngModel)]="config.key">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="config.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Value" [(ngModel)]="config.value"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="config.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="config.type">
      <mat-option value="TEXT">TEXT</mat-option>
      <mat-option value="XML">XML</mat-option>
      <mat-option value="ENC_PASSWORD">ENC_PASSWORD</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save(data)">Save</button>
  </div>
</div>
