/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #E6E6FA;
}

body {
  padding-top: 55px;
}

/*Hack to fix bootstrap navbar-fixed-top issue...*/
@media (min-width: 768px) and (max-width: 991px)  {
  body {
    padding-top: 105px;
  }
}
