<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 content">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th class="typeColumn">Type</th>
                            <th class="buttonColumn">Action</th>
                        </tr>
                    </thead>
                    <tr app-configuration-item *ngFor="let configuration of configurations"
                        [configuration]="configuration"
                        (updateEvent)="onUpdate(configuration)"
                        (deleteEvent)="onDelete(configuration.id)">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Search...">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="configDataSource">

    <ng-container cdkColumnDef="Key">
      <md-header-cell *cdkHeaderCellDef> Key </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.key}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}}% </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Value">
      <md-header-cell *cdkHeaderCellDef> Value </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.value}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Description">
      <md-header-cell *cdkHeaderCellDef> Description </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.description}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Type">
      <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.type}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Action">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> 
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>mode_edit</md-icon>
            <span>Edit</span>
          </button>
          <button md-menu-item>
            <md-icon>delete</md-icon>
            <span>Delete</span>
          </button>
        </md-menu>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="columnHeaders"></md-header-row>
    <md-row *cdkRowDef="let row; columns: columnHeaders;"></md-row>
  </md-table>
</div>