<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 content">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th class="typeColumn">Type</th>
                            <th class="buttonColumn">Action</th>
                        </tr>
                    </thead>
                    <tr app-configuration-item *ngFor="let configuration of configurations"
                        [configuration]="configuration"
                        (updateEvent)="onUpdate(configuration)"
                        (deleteEvent)="onDelete(configuration.id)">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Search...">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="configDataSource">

    <ng-container cdkColumnDef="Key">
      <md-header-cell *cdkHeaderCellDef> Key </md-header-cell>
        <md-cell *cdkCellDef="let row">
          <ng-container *ngIf="row.editMode">
            <md-input-container class="example-full-width">
              <input mdInput [(ngModel)]="row.key">
            </md-input-container>
          </ng-container>
          <ng-container *ngIf="!row.editMode">
            {{row.key}}
          </ng-container>
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.editMode">
          <md-input-container class="example-full-width">
            <input mdInput [(ngModel)]="row.name">
          </md-input-container>
        </ng-container>
        <ng-container *ngIf="!row.editMode">
          {{row.name}}
        </ng-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Value">
      <md-header-cell *cdkHeaderCellDef> Value </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.editMode">
          <md-input-container class="example-full-width">
            <input mdInput [(ngModel)]="row.value">
          </md-input-container>
        </ng-container>
        <ng-container *ngIf="!row.editMode">
          {{row.value}}
        </ng-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Description">
      <md-header-cell *cdkHeaderCellDef> Description </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.editMode">
          <md-input-container class="example-full-width">
            <input mdInput [(ngModel)]="row.description">
          </md-input-container>
        </ng-container>
        <ng-container *ngIf="!row.editMode">
          {{row.description}}
        </ng-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Type">
      <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.editMode">
              <select>
                <option value="TEXT">TEXT</option>
                <option value="XML">XML</option>
                <option value="ENC_PASSWORD">ENC_PASSWORD</option>
              </select>
        </ng-container>
        <ng-container *ngIf="!row.editMode">
          {{row.type}}
        </ng-container>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Action">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> 
        <button class="action-menu" md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="onEdit(row)">
            <md-icon>mode_edit</md-icon>
            <span>Edit</span>
          </button>
          <button md-menu-item (click)="onDelete(row.id)">
            <md-icon>delete</md-icon>
            <span>Delete</span>
          </button>
        </md-menu>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="columnHeaders"></md-header-row>
    <md-row *cdkRowDef="let row; columns: columnHeaders;"></md-row>
  </md-table>
</div>